body {
    background-color: antiquewhite;
}


.container {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.article {
    margin-left: 60px;
    margin-bottom: 5px;
    padding: 3px;

}

.topic {
    margin-left: 116px;
    padding: 2px;
}

.publish {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-top: 10px;
}

.list {
    display: flex;
    flex-direction: row;
    margin-left: 90px;
}

.pub p {
    padding: 0;
    margin: 3px 0 3px 0;
    
}

.radio1 {
    float: left;
}
.radio2 {
    margin-left: 20px;
    float: left;
}
.radio3 {
    margin-left: 20px;
    float: left;
}


.comments {
    position: relative;
    
}

.box {
    display: flex;
    flex-direction: row;
    align-self: center;
}


.artictext {
    max-width: 100%;
    max-height: 300px;
    resize: none;
    margin-top: 5px;
    padding: 3px;
}


@media all and (max-width: 768px) {
   .title {
       display: flex;
       flex-direction: column;
   }

   .article {
       margin-left: 0px;
       margin-bottom: 0px;
       max-width: 50%;
   }

   .section {
       display: flex;
       flex-direction: column;
   }

   .topic {
       margin-left: 0px;
       margin-bottom: 0px;
       max-width: 50%;
    }

   
    
    .publish {
        flex-direction: column;


    }

    .list {
        flex-direction: column;
        margin-left: 0px;
        
    }

    .radio1 {
        margin-left: 0px;
    }
    .radio2 {
        margin-left: 0px;
    }
    .radio3 {
        margin-left: 0px;
    }
   .box {
       margin-top: 5px;
   }

   
   

}

